@import "tailwindcss";

@layer base {
  :root {
    --font-space: "";
    --font-newsreader: "";
    --background: 184 25% 6%;
    --foreground: 184 12% 88%;
  }
}

@theme {
  --font-display: var(--font-newsreader);
  --font-mono: var(--font-space);

  /* System Palette */
  --color-surface: #0d1516;
  --color-surface-container: #1a2122;
  --color-on-surface: #dce4e5;
  --color-primary: #00dbe9;    /* Neon Cyan */
  --color-secondary: #e9c176;  /* Epic Gold */
  --color-tertiary: #ddb7ff;   /* Legendary Purple */
  --color-outline: #849495;
}

body {
  @apply bg-surface text-on-surface transition-colors duration-500 overflow-hidden;
  font-family: var(--font-mono);
}

.scanline {
  background: linear-gradient(to bottom, transparent 50%, rgba(0, 219, 233, 0.02) 50%);
  background-size: 100% 4px;
}

.custom-scrollbar::-webkit-scrollbar { width: 4px; }
.custom-scrollbar::-webkit-scrollbar-track { background: rgba(26, 33, 34, 0.5); }
.custom-scrollbar::-webkit-scrollbar-thumb { background: #00dbe9; box-shadow: 0 0 10px #00dbe9; }