@import "tailwindcss";

@layer base {
    :root {
        /* GLOBAL SCALE FACTOR */
        font-size: 110%;

        --font-space: "";
        --font-newsreader: "";

        /* System Colors */
        --background: 184 25% 6%;
        --foreground: 184 12% 88%;
    }
}

@theme {
    /* CUSTOM HUD FONT SCALE */
    --text-hud-nano: 0.7rem;    /* Replaces text-hud-nano */
    --text-hud-micro: 0.85rem;  /* Replaces text-hud-micro */
    --text-hud-base: 1rem;      /* Replaces text-[11px/12px] */
    --text-hud-large: 1.25rem;  /* Replaces text-xl */
    --text-hud-title: 3.5rem;   /* Replaces text-hud-title */
    --font-display: var(--font-newsreader);
    --font-mono: var(--font-space);
    --color-primary: #00dbe9;
    --color-secondary: #e9c176;
    --color-tertiary: #ddb7ff;
    --color-outline: #849495;
}

/* Mono font seemed too small. Added a little spacing so its easier to read */
.font-mono {
    letter-spacing: 0.05em;
    line-height: 1.6;
}